<% if obj.errors.any? %>
<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="card bg-danger">
      <div class="card-header">
        <p class=card-title>
          <%= pluralize(obj.errors.count, "error") %>
          prohibited this <%= obj.class %> from being saved:
        </p>
        <div class="card-body">
          <ul>
            <% obj.errors.full_messages.each do |message|%>
            <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
