<h1 class= "center col-md-8 offset-md-2">About Myrecipes</h1>
<hr/>

<div class="row" id="-index">
  <div class="col-md-2">
    <section class="karen-info center">
      <img src="https://avatars3.githubusercontent.com/u/31520524?s=400&u=b217b16c7dc7d8ad6ee31a2227db30cb66e2d349&v=4" class="img-fluid" alt="">
  </div>
  <div class="col-md-10 well-index justify">
    <h1>KAREN HOYOS</h1>
  </div>
    </section>
    <div class="col-md-10 well-index text-justify">
    <p>Hola! My name is Karen and I am from Spain. A little bit more about myself... I've been living in Berlin since 2014 after I moved from France, where I was living for over a year. I studied Social Work at University but when I started coding as hobby I quickly realized that I wanted to learn more and become a developer. In March 2018 I finished a coding bootcamp and here I am building my first projects!</p>
    <p>I love cooking and I really enjoy doing it, but something I find myself with no inspiration to create something new and end up cooking what I know already. That's why I decided to create this community, so people from all over the world can post their recipes and share them with the rest of us.</p>
    <p>If you would like to know a little bit more about me please follow the links below;</p>
    <div class="container left">
    <div class="row center">
      <div class="col-sm link-about"><h3>Linkedin <a href="https://www.linkedin.com/in/karen-hoyos/" target="_blank"><i class="fa fa-linkedin"></i></a></h3></div>
      <div class="col-sm"><h3>GitHub <a href="https://github.com/Kahoza" target="_blank"><i class="fa fa-github"></i></a></h3></div>
      <div class="col-sm"><h3>CodePen <a href="https://codepen.io/WildKoala/" target="_blank" target="_blank"><i class="fa fa-codepen"></i></a></h3></div>
    </div>
    </div>

  </div>
</div>
