<div class="jumbotron center">

<h1>Welcome to my recipes app</h1>
<h2>The best recipe sharing comunity</h2>
<p><%= link_to "Join us!", signup_path, class:"btn btn-danger btn-lg" %></p>
</div>

<div class="row">
  <div class="col-lg-4">
    <h2>What?</h2>
    <p>Myrecipes is an online community to share recipes. You will find chefs from al over the world sharing their favourites recipes. </p>
    <p><a class="btn btn-danger btn-lg" href="#" role="button">Show more</a></p>
  </div>
  <div class="col-lg-4">
    <h2>How?</h2>
    <p>To join the Myrecipes comunity, you just need to create a profile (It will take you 10 seconds) and start posting your recipes and get to know other chefs</p>
    <p><a class="btn btn-danger btn-lg" href="#" role="button">Go to FAQ</a></p>
  </div>
  <div class="col-lg-4">
    <h2>Why?</h2>
    <p>Don't take our word for it, just see for yourself what our chefs think abou this comunity.</p>
    <p><a class="btn btn-danger btn-lg" href="#" role="button">Go to testimonials</a></p>
  </div>
</div>

