<div class="jumbotron center">

<h1>Welcome to <strong>Myrecipes</strong> app</h1>
<h2>The best recipe sharing comunity</h2>
<p><%= link_to "Join us!", signup_path, class:"btn btn-danger btn-lg" %></p>
</div>

<div class="container-info">
  <div class="row">
    <div class="col-lg-4">
      <h2>What?</h2>
      <p class="text-justify">Myrecipes is an online community accesible to everybody who wish to share their recipes with others. You will find chefs from all over the world sharing their favourites recipes and you can also contribute and share yours. </p>
      <p><a class="btn btn-danger btn-lg" href="/pages/about" role="button">Show more</a></p>
    </div>

    <div class="col-lg-4">
      <h2>How?</h2>
      <p class="text-justify">Is very easy to join Myrecipes comunity, just hit the button "Join us" aboove to create your profile (It will take you 10 seconds) and just right after you can start posting your recipes and get to know other chefs.</p>
      <p><a class="btn btn-danger btn-lg" href="/pages/help" role="button">Go to FAQ</a></p>
    </div>

    <div class="col-lg-4">
      <h2>Why?</h2>
      <p class="text-justify">We belive that Myrecipes is an AMAZING comunity! But please, don't take our word for it and see it for yourself. Just click on the button below and read what other chefs think about this community.</p>
      <p><a class="btn btn-danger btn-lg" href="/pages/testimonials" role="button">Testimonials</a></p>
    </div>
  </div>
</div>

