<h1 class= "center col-md-8 offset-md-2">What our chefs think about us</h1>
<hr/>

<figure class="snip1139">
  <blockquote>I had few friends coming over for dinner and I didn't know what to prepare. I checked few websites but everything seem very complicated and when I joined Myrecipes I found so many different recipes and also so easy to make.
    <div class="arrow"></div>
  </blockquote>
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample3.jpg" alt="sample3"/>
  <div class="author">
    <h5>Andrea</h5>
  </div>
</figure>
<figure class="snip1139 hover">
  <blockquote>I really like cooking but I find sometimes difficult to find the time to go to the shop and find all the ingredients I need. In Myrecipes community people share recipes with ingredients that you might have at home, nothing fancy but very delicious.
    <div class="arrow"></div>
  </blockquote>
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample47.jpg" alt="sample47"/>
  <div class="author">
    <h5>Matt</h5>
  </div>
</figure>
<figure class="snip1139">
  <blockquote>I'm a big fan of cooking and I have an instagram where I show all my recipes, hopefully one day I can dedicate full time to that. Myrecipes community gave me a lot of ideas to keeo my page growing. I love trying different ones!
    <div class="arrow"></div>
  </blockquote>
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample17.jpg" alt="sample17"/>
  <div class="author">
    <h5>Elena</h5>
  </div>
</figure>
<figure class="snip1139">
  <blockquote>I am always the one cooking at home but sometimes I ran out of ideas and keep preparing the same meals all the time. Myrecipes is a great place to get inspired by other chefs. I like to share my recipes as well as I like to contribute to the growth of the community and happy to see new aditions.
    <div class="arrow"></div>
  </blockquote>
  <img src="https://images.pexels.com/photos/736716/pexels-photo-736716.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="sample3"/>
  <div class="author">
    <h5>Joshue</h5>
  </div>
</figure>
<figure class="snip1139">
  <blockquote>Due to health issues I had to change my diet and habits. I am not very good with the new technologies but decided to give it a try as books look so boring. When I found this community I was surprised to learn how easy the page is and I manage perfectly fine! I really like getting ideas!
    <div class="arrow"></div>
  </blockquote>
  <img src="https://images.pexels.com/photos/842331/pexels-photo-842331.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="sample47"/>
  <div class="author">
    <h5>Consuela</h5>
  </div>
</figure>
<figure class="snip1139">
  <blockquote>I got divorced recently and I have to admit that the first night I had to make dinner I was a bit scared. I knew the basics but never cooked nothing fancy. After few weeks I got tired of eating the same and I joined the community. I was impressed by the amount of recipes and how easy they are.
    <div class="arrow"></div>
  </blockquote>
  <img src="https://images.pexels.com/photos/207849/pexels-photo-207849.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="sample17"/>
  <div class="author">
    <h5>Anton</h5>
  </div>
</figure>
