#logo {
  color: #DC0019;
  float: left;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

  #logo:hover {
    color: black;
    text-decoration: none;
  }

.btn {
  color: #FF000D;
}

.btn-css-class:hover {
  text-decoration: none;
}
