

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url("jalapeno.jpeg");
  background-size: cover;
  height: 500px;
}

#logo {
  float: left;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

  #logo:hover {
    color: purple;
    text-decoration: none;
  }

.jumbotron h1, h2 {
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}
