// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#card-index {
  border: 1px solid black;
  margin: 10px 0 10px 0;
  border-radius: 3px;
}
.description {
  margin-top: 0px;
}

.well-index{
  margin-righ: 12px;
  padding-left: 0px;
  a {
    color: #DC0019;
    &:hover {
      text-decoration: none;
      color: black;
    }
  }
  h3 {
    margin-top: 5px;
  }

}

.chef-info {
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 15px;
  margin-bottom: 15px;

}

.show-description {
  padding-left: 0px;
}


// Style for chefs index

.listing {
  list-style: none;
  padding-left: 0;
}

.chef-title a {
  color:  #DC0019;
  font-weight: bold;
  font-size: 25px;
  &:hover {
    text-decoration: none;
  }
}

// Index Page

.index-btn a {
  color: white;
  &:hover {
    color: white;
  }
}
