<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- Footer -->
  <section id="footer">
    <div class="container">
      <div class="row text-center text-xs-center text-sm-left text-md-left">
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
          <ul class="list-unstyled list-inline social text-center">
            <li class="list-inline-item"><h4>Karen Hoyos</h4></li>
            <li class="list-inline-item"><a href="https://www.instagram.com"><i class="fa fa-linkedin"></i></a></li>
            <li class="list-inline-item"><a href="https://github.com/Kahoza" target="_blank"><i class="fa fa-github"></i></a></li>
            <li class="list-inline-item"><a href="https://codepen.io/WildKoala/" target="_blank" target="_blank"><i class="fa fa-codepen"></i></a></li>
          </ul>
        </div>
        </hr>
      </div>
    </div>
  </section>
